-c https://raw.githubusercontent.com/apache/airflow/constraints-2.8.1/constraints-3.9.txt

Werkzeug
aiobotocore
apache-airflow==2.8.1
apache-airflow-providers-amazon
apache-airflow-providers-ftp
apache-airflow-providers-http
apache-airflow-providers-sftp
apache-airflow-providers-slack
apache-airflow-providers-ssh
boto3
Flask-Session
importlib-metadata
moto
numpy
pandas
paramiko
pexpect
pytest
requests-mock
sshtunnel