[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true


[dev-packages]
pytest = "*"
apache-airflow = "==1.10.14"
pylint = "*"
moto = "*"
requests-mock = "*"
paramiko = "*"
sshtunnel = "*"
sickle = "*"
lxml = "==4.6.2"
tulflow = "==0.8.0"
boto3 = "*"
pexpect = "*"
pysftp = "*"
setuptools = "*"
cryptography = "==3.4.6"

[packages]

[requires]
python_version = "3.6"
