[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aiobotocore = "==3.2.1"
apache-airflow = "==2.11.2"
apache-airflow-providers-amazon = "==9.22.0"
apache-airflow-providers-sftp = "==5.7.0"
apache-airflow-providers-slack = "==9.7.0"
apache-airflow-providers-ssh = "==4.3.1"
boto3 = "==1.42.61"
botocore = "==1.42.61"
flask-session = "==0.8.0"
importlib_metadata = "==6.11.0"
moto = "==5.0.11"
paramiko = "==3.5.1"
pexpect = "==4.9.0"
pylint = "*"
pyjwt = "==2.11.0"
pysftp = "*"
pytest = "==8.2.1"
parameterized = "*"
requests-mock = "==1.12.1"
s3fs = "==2026.2.0"
setuptools = "==81.0.0"
sickle = "*"
sshtunnel = "==0.4.0"
tulflow = "*"
pandas = "==2.1.4"

[packages]

[requires]
python_version = "3.12"
