[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
setuptools = "*"
xmltodict = "*"
sickle = "*"
pexpect = "*"
boto3 = "*"
tulflow = "==0.6.2"
awscli = "*"
lxml = "==4.4.3"
importlib-resources = {version = "*", markers = "python_version < '3.7'"}

[dev-packages]
pytest = "*"
apache-airflow = "*"
pysftp = "*"
pylint = "*"
moto = "*"
requests-mock = "*"
paramiko = "*"
sshtunnel = "*"

[requires]
python_version = "3.6"
