apache-airflow==2.8.1
cryptography
Cython==3.0.9
Flask
GitPython
lxml
pexpect
pip
pipenv
redis
sickle
tulflow
werkzeug
xmltodict
apache-airflow-providers-slack
apache-airflow-providers-ftp
apache-airflow-providers-http
apache-airflow-providers-sftp
apache-airflow-providers-ssh
apache-airflow-providers-amazon
apache-airflow-providers-celery
awscli
